[flake8]
exclude =
    .git,
    venv,
    __pycache__,
    migrations,
    settings_backup.py

ignore =
    E122,
    E123,
    E128,
    E301,
    E302,
    E303,
    E304,
    E501,
    W291,
    W292,
    W293,
    W503,
    F401

max-line-length = 120